<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<meta charset="GBK">
		<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" name="viewport"  id="viewport">
		<meta name="format-detection" content="telephone=no">
		<!-- 避免缓存cache -->
		<meta http-equiv="cache-control" content="max-age=0" />
		<meta http-equiv="cache-control" content="no-cache" />
		<meta http-equiv="expires" content="0" />
		<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
		<meta http-equiv="pragma" content="no-cache" />
		<title>EPS在线</title>
		<link rel="stylesheet" type="text/css" href="../../../resource/css/swiper.min.css"/>
		<link rel="stylesheet" href="../../../resource/css/common.css" type="text/css" />
		<link rel="stylesheet" type="text/css" href="../../../resource/css/style.css"/>
		<link rel="stylesheet" type="text/css" href="../../../resource/css/style2.css"/>
		<link rel="stylesheet" type="text/css" href="../../../resource/css/pbStyle.css" />
		<link rel="stylesheet" type="text/css" href="../../../resource/css/layer.css" id="layui_layer_skinlayercss"/>
	</head>
	<body>
		<header class="main-header">
			<span class="pre-header"></span>			
			<span class="home-save">提交</span>
			<h1>评标</h1>
		</header>
		<section class="xmxxW pb-container" ng-controller="pbCtrl"> 
			<div class="style-nation pb-style-nation mb-30" ng-controller="percentCtrl">
				<ol class="clearfix">
					<li class="on">商务项评分</li>
					<li ng-click="resultFn()">评分汇总</li>
				</ol>
				<ul>
					<li class="on">
						<div class="step">
							<span class="pre fl" ng-click="preFn()"><img src="../../../resource/images/arrow.png" alt="" /></span>
							<ul class="fl step-ul">
								<li ng-repeat="x in pfstep" ng-class="begin($index)">{{x.title}}(<span class="page_totle">{{x.score}}</span>分)<span>{{$index+1}}</span>/<span>{{leng}}</span></li>
							</ul>
							<span class="next fr" ng-click="nextFn()"><img src="../../../resource/images/arrow.png" alt="" /></span>
						</div>		
						<div class="pb-box" ng-repeat="x in box">
							<form action="">
								<ul>
									<li ng-repeat="y in x.company">
										<p class="p-company" id={{y.id}}>{{y.companyName}}</p>
										<p class="clearfix">
											<span class="item-every-left">项目列表</span>
											<span class="item-every-middle">评分项</span>
											<span class="item-every-right">备注</span>
										</p>
										<ol>
											<li ng-repeat="z in x.item">
												<div class="item-every">
													<div class="every-left alignItem">
														<span>{{z.every}}</span>
													</div>
													<div class="every-middle" ng-if="z.bs==1">
														<p ng-repeat="w in z.value"><input class="radio" type="radio" name="{{y.id}}{{z.name}}"  value="{{w[1]}}" />{{w[0]}}({{w[1]}}分)</p>
														<p><input class="pfsm" type="text" name="pfsm" placeholder="评分说明" required/></p>
													</div>
													<div class="every-middle" ng-if="z.bs==2">
														<p ng-repeat="w in z.value"><input ng-class="none($index)"  type="checkbox" name="{{y.id}}{{z.name}}" value="{{w[1]}}"/>{{w[0]}}({{w[1]}}分)</p>
														<p><input class="pfsm" type="text" name="pfsm" placeholder="评分说明" required/></p>
													</div>
													<div class="every-middle" ng-if="z.bs==3">
														<p><input class="yxl" name="{{y.id}}{{z.name}}" type="number"  required/>分</p>
														<p><input class="pfsm" type="text" name="pfsm" placeholder="评分说明" required/></p>
													</div>
													<div class="every-middle" ng-if="z.bs==4">
														<p>
															<select class="score" name="{{y.id}}{{z.name}}">
																<option ng-repeat="w in z.value" value="{{w}}">{{w}}</option>
															</select>分
														</p>
														<p><input class="pfsm" type="text" name="pfsm" placeholder="评分说明" required/></p>
													</div>
													<div class="every-right alignItem">
														<span>{{z.sm}}</span>
													</div>
												</div>
											</li>
											
										</ol>
									</li>
									
								</ul>
							</form>
						</div>						
					</li>
					<li>
						<table class="table mt-20 mb-20">
							<tr class="tr-orange">
								<td>评审专家</td>
								<td>商务项评分评审进度</td>
								<td>是否提交评分结果</td>
							</tr>	
							<tr ng-repeat="q in pfend">
								<td>{{q.people}}</td>
								<td>
									<div class="jdt-box">
										<div class="jdt">
										   <div class="jdt-inner jdt-animate" ng-class="attr($index)" width="{{q.percent}}"></div>
										</div>
										<div>{{q.percent}}</div>
									</div>
									
								</td>
								<td>{{q.end}}</td>
							</tr>
						</table>
					</li>
				</ul>
			</div>
		</section>
		</div>
		<!--色环加载-->
	    <div class="loader loaderLayer" style="bottom: auto;display: none;">
	        <div class="loader-inner line-spin-fade-loader">
	          <div></div>
	          <div></div>
	          <div></div>
	          <div></div>
	          <div></div>
	          <div></div>
	          <div></div>
	          <div></div>
	        </div>
	    </div>
		<script src="../../../resource/js/system/jquery-2.2.0.min.js"></script>
		<script src="../../../resource/js/system/fastclick.js"></script>
		<script src="../../../resource/js/system/swiper.min.js"></script>
		<script src="../../../resource/js/system/angular.min.js"></script>
		<script src="../../../resource/js/system/layer.js"></script>
		<script src="../../../resource/js/system/template.js"></script>
		<script src="../../../resource/js/pbJs/pbCommon.js"></script>
		<script src="../../../resource/js/pbJs/pbbase.js"></script>
		<script src="../../../resource/js/pbJs/app.js"></script>
		<script src="../../../resource/js/pbJs/pbCtrl.js"></script>
		<script src="../../../resource/js/pbJs/percentCtrl.js"></script>
		
	</body>
</html>